<div class="container">
    
      <div class="card-content">
        <span class="card-title">FakeBook</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec mauris nec mauris nec mauris nec.
        </p>
      </div>
    
    <div class="card-content">
    <div class="formulario">
        <h1 class="center-align">Cadastro de Usuário</h1>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o seu nome" required [(ngModel)]="nome" (keyup.enter)="Cadastrar()">
        
        <label for="apelido">Apelido</label>
        <input type="text" id="apelido" name="apelido" placeholder="Digite o seu apelido" required [(ngModel)]="apelido" (keyup.enter)="Cadastrar()">
        
        <label for="contato">Correio</label>
        <input type="text" id="contato" name="contato" placeholder="Digite o seu contato" required [(ngModel)]="contato" (keyup.enter)="Cadastrar()">
        
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" name="usuario" placeholder="Digite o nome de usuário desejado" required [(ngModel)]="usuario1" (keyup.enter)="Cadastrar()">
        
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" placeholder="Digite a sua senha" required [(ngModel)]="senha" (keyup.enter)="Cadastrar()">
        
     
          <button type="submit" name="action" (click)="Cadastrar()">Cadastrar</button>
        
      </div>
    </div>
    </div>
 
  