<div class="formulario mat-elevation-z4">
    <h1 class="titulo">Cadastrar</h1>
    <mat-card class="contenido">
        <mat-form-field class="form-group">
            <input matInput type="text" id="usuario" name="usuario" [(ngModel)]="usuario" placeholder="Usuario" (keyup.enter)="Cadastrar()">
        </mat-form-field>
        <mat-form-field class="form-group">
            <input matInput type="password" id="contraseña" name="contraseña" [(ngModel)]="senha" placeholder="Senha" (keyup.enter)="Cadastrar()">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="Cadastrar()">Entrar</button>
    </mat-card>
</div>