.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.titulo {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos para centralizar el botón */
.mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-content {
  text-align: center; /* Centra el contenido horizontalmente */
}


